{% extends 'base.html.twig' %}

{% block title %}{{ 'Profile'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">{{ 'Home'|trans }}</a></li>
    <li><a href="#">{{ 'Profile'|trans }}</a></li>
{% endblock %}

{% block body %}
    <article class="base-article gap-20">
            <section class="w-full max-w-md">
                <h1 class="h1 mb-4">{{ 'Profile page'|trans }}</h1>
                <p>Email: {{ user.email }}</p>
                <a href="{{ path('app_forgot_password_request') }}" class="text-info">{{ 'Change password?'|trans }}</a>
            </section>
            <section class="w-full max-w-md">
                <h2 class="text-3xl font-semibold mb-4">{{ 'Preferences'|trans }}</h2>
                {{ form_start(form, {'attr': {'class': 'form-control w-full max-w-md gap-6'}}) }}
                {{ form_row(form.preferredLocale) }}
                {{ form_row(form.defaultCurrency) }}
                <div class="flex gap-4">
                    {{ form_label(form.allowEmailNotifications, 'Recieve email notifications') }}
                    {{ form_widget(form.allowEmailNotifications, {'attr': {'class': 'toggle toggle-secondary'}}) }}
                </div>
                <button type="submit" class="btn btn-primary max-w-md">{{ 'save'|trans }}</button>
                {{ form_end(form) }}
            </section>
    </article>
{% endblock %}