{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">Home</a></li>
    <li><a href="#">Profile</a></li>
{% endblock %}

{% block body %}
    <article class="m-8 flex flex-col gap-20 items-center">
            <section class="w-full max-w-md">
                <h1 class="h1 mb-4">Profile page</h1>
                <p>Email: {{ user.email }}</p>
                <a href="{{ path('app_forgot_password_request') }}" class="text-info">Forgotten password?</a>
            </section>
            <section class="w-full max-w-md">
                <h2 class="text-3xl font-semibold mb-4">Preferences</h2>
                {{ form_start(form, {'attr': {'class': 'form-control w-full max-w-md gap-3'}}) }}
                {{ form_row(form.defaultCurrency) }}
                <button type="submit" class="btn btn-primary btn-outline max-w-md">save</button>
                {{ form_end(form) }}
            </section>
    </article>
{% endblock %}