{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <article class="flex flex-col items-center my-16 gap-6">
        <h1 class="h1">Sign up!</h1>

        {{ form_start(registrationForm, {'attr': {'class': 'form-control w-full px-6 max-w-md gap-8'}}) }}

        <div>
            {{ form_label(registrationForm.email) }}

            {{ form_widget(registrationForm.email, {'attr': {'class': 'input input-bordered w-full'}}) }}
            <div class="text-error font-semibold">
                {{ form_errors(registrationForm.email) }}
            </div>
        </div>
        <div>
            {{ form_label(registrationForm.plainPassword, 'Password') }}
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input input-bordered w-full'}}) }}
            <div class="text-error font-semibold">
            {{ form_errors(registrationForm.plainPassword) }}
            </div>
        </div>
        <div class="flex items-center gap-4">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_errors(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'checkbox checkbox-primary'}}) }}
        </div>

            <button type="submit" class="btn max-w-md">Register</button>
        {{ form_end(registrationForm) }}
    </article>
{% endblock %}
