{% extends 'base.html.twig' %}

{% block title %}{{ 'Notifications'|trans }} | Expiry{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">{{ 'Home'|trans }}</a></li>
    <li><a href="#">{{ 'Notifications'|trans }}</a></li>
{% endblock %}

{% block body %}
    <article class="base-article">
        <h1 class="h1">{{ 'Notifications'|trans }}</h1>
        <turbo-frame id="user-notifications" class="w-full flex flex-col items-center" target="_top">
            {% include('components/_item_flashes.html.twig') %}
            <section class="flex flex-col gap-8 w-full max-w-xl items-center">

            {% if notClearedItems|length > 0 %}
                <p>{{ 'You have %number% new notifications'|trans({'%number%': notClearedItems|length}) }}!</p>
                {% for item in notClearedItems %}
                    <div class="indicator w-full">
                        <a
                                href="{{ path('app_notification_clear', {userId: app.user.id, itemId: item.id}) }}"
                                class="indicator-item indicator-bottom badge badge-primary right-11 bottom-5 hover:badge-outline"
                                data-turbo-frame="user-notifications"
                        >
                            <div class="flex items-center gap-0.5">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                                <span>{{ 'Clear'|trans }}</span>
                            </div>
                        </a>
                            {% include('item/_item_preview.html.twig') with {
                                showCategory: false,
                                deletePath: path('app_item_delete', {userId: app.user.id, catId: item.category.id, itemId: item.id, from: 'notifications'}),
                                dataFrame: 'user-notifications'
                            } %}
                    </div>
                {% endfor %}

            {% else %}
                    <p>{{ 'You have no notifications'|trans }}!</p>
            {% endif %}
            </section>
            <div class="divider w-full text-2xl p-8">{{ 'Old notifications'|trans }}</div>
            <section class="flex flex-col gap-8 w-full max-w-xl items-center">
                {% for item in clearedItems %}
                        {% include('item/_item_preview.html.twig') with {
                            showCategory: true,
                            cardStyle: 'bg-base-200',
                            deletePath: path('app_item_delete', {userId: app.user.id, catId: item.category.id, itemId: item.id, from: 'notifications'}),
                            dataFrame: 'user-notifications'
                        } %}
                {% endfor %}
            </section>
        </turbo-frame>
    </article>
{% endblock %}