{% extends 'base.html.twig' %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block title %}{{ 'Reset your password'|trans }} | Expiry{% endblock %}

{% block body %}
    <article class="flex flex-col items-center my-16 gap-10 mx-8 items-center">
        <h1 class="h1">{{ 'Reset password'|trans }}</h1>
        {{ form_start(resetForm, {'attr': {'class': 'form-control w-full max-w-md gap-6'}}) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'Reset password'|trans }}</button>
        {{ form_end(resetForm) }}
    </article>
{% endblock %}
