<div class="relative">
    <div class="flex items-center justify-between py-2.5 px-4 rounded-lg border border-slate-100 shadow hover:bg-gray-100 overflow-x-auto">
        <article class="flex items-center gap-4">
            <div
                    class="inline-block w-3 h-3 rounded-full bg-secondary"
            ></div>
            <div>
                <h2 class="text-xl">{{ 'All items'|trans }}</h2>
                <p class="text-sm text-gray-600">{{ itemsCount }} {{ 'items'|trans }}</p>
            </div>
        </article>
        <div class="flex gap-8">
            <a href="{{ path('app_items', {id: app.user.id}) }}" class="link link-info link-hover mx-14">{{ 'Detail'|trans }}</a>
        </div>
    </div>
</div>