<div class="relative">
    <div class="flex items-center justify-between py-2.5 px-4 rounded-lg border border-slate-100 shadow hover:bg-gray-100 overflow-x-auto">
        <article class="flex items-center gap-4">
            <div
                    class="inline-block w-3 h-3 rounded-full"
                    style="background-color: rgb({{ category.red }}, {{ category.green }}, {{ category.blue }});"
            ></div>
            <div>
                <h2 class="text-xl">{{ category.name }}</h2>
                <p class="text-sm text-gray-600">4 items</p>
            </div>
        </article>
        <div class="flex gap-8">
            <a href="{{ path('app_index') }}" class="link link-info link-hover">Detail</a>
            <button
            data-action="click->kebab-menu#toggle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                </svg>
            </button>
        </div>
    </div>
    <ul class="menu p-2 shadow rounded-box bg-base-100 w-52 absolute bottom-0 right-0 translate-y-full z-10 hidden"
    data-kebab-menu-target="content">
        <li><a href="{{ path('app_category_edit', {userId: app.user.id, catId: category.id}) }}">Edit</a></li>
        <li><a href="#" class="text-error">Delete</a></li>
    </ul>
</div>