{% extends 'base.html.twig' %}

{% block title %}
    {% if create %}New Category {% else %} Edit {{ category.name }} {% endif %}
{% endblock %}

{% block body %}
    <article class="flex flex-col mt-6 mx-8 gap-6">
        <h1 class="h1">
            {% if create %}New Category {% else %} Edit {{ category.name }} {% endif %}
        </h1>
        {{ form_start(form, {'attr': {'class': 'form-control w-full max-w-md gap-8'}}) }}
        {{ form_row(form.name) }}
        <div class="flex flex-col">
            {{ form_label(form.color) }}
            {{ form_widget(form.color, {'attr': {'class': 'bg-base-100 w-10 h-10'}}) }}
            <div class="text-error font-semibold">
                {{ form_errors(form.color) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary max-w-md">
            {% if create %} Create {% else %} Edit {% endif %}
        </button>

        {{ form_end(form) }}
    </article>
{% endblock %}
