{% extends 'base.html.twig' %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block title %}
    {% if create %}{{ 'New category'|trans }} {% else %} {{ 'Edit'|trans }} {{ category.name }} {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">{{ 'Home'|trans }}</a></li>
    <li><a href="{{ path('app_categories', {id: app.user.id}) }}">{{ 'Inventory'|trans }}</a></li>
    <li><a href="#">{{ 'New category'|trans }}</a></li>
{% endblock %}

{% block body %}
    <article class="flex flex-col mt-6 mx-8 gap-8 items-center">
        <h1 class="h1">
            {% if create %}{{ 'New category'|trans }} {% else %} {{ 'Edit'|trans }} {{ category.name }} {% endif %}
        </h1>
        {{ form_start(form, {'attr': {'class': 'form-control w-full max-w-md gap-8'}}) }}
        {{ form_row(form.name) }}
        <div class="flex flex-col">
            {{ form_label(form.color) }}
            {{ form_widget(form.color, {'attr': {'class': 'bg-base-100 w-10 h-10'}}) }}
            <div class="text-error font-semibold">
                {{ form_errors(form.color) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary max-w-md">
            {% if create %} {{ 'Create'|trans }} {% else %} {{ 'save'|trans }} {% endif %}
        </button>

        {{ form_end(form) }}
    </article>
{% endblock %}
