{% extends 'base.html.twig' %}

{% block title %}
{{ 'Delete'|trans }} {{ category.name }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">{{ 'Home'|trans }}</a></li>
    <li><a href="{{ path('app_categories', {id: app.user.id}) }}">{{ 'Inventory'|trans }}</a></li>
    <li><a href="#">{{ 'Delete'|trans }} {{ category.name }}</a></li>
{% endblock %}

{% block body %}
    <article class="flex flex-col mt-6 mx-8 gap-12 items-center">
        <h1 class="h1">{{ 'Delete'|trans }} {{ category.name }}?</h1>
        <div class="alert alert-info shadow-lg max-w-md">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span>{{ 'You can move all items from %category% to another category'|trans({'%category%': category.name}) }}</span>
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-control w-full max-w-md gap-8'}}) }}
        {{ form_row(form.category) }}
            <button type="submit" class="btn btn-error max-w-md col-span-2 block" data-action="submit-delete-category#onSubmit"
                    {{ stimulus_controller('submit-delete-category', {
                        title: 'Delete'|trans ~ ' ' ~ category.name,
                        text: 'You won\'t be able to revert this!'|trans,
                        confirmButtonText: 'Yes, delete it!'|trans
                    }) }}>
                {{ 'Delete'|trans }} {{ category.name }}
            </button>
        {{ form_end(form) }}
    </article>
{% endblock %}