{% extends 'base.html.twig' %}

{% block title %}{{ 'Categories'|trans }} | Expiry{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">{{ 'Home'|trans }}</a></li>
    <li><a href="#">{{ 'Categories'|trans }}</a></li>
{% endblock %}

{% block body %}
        <article class="base-article">
                <h1 class="h1">{{ 'Categories'|trans }}</h1>
                <article class="flex flex-col items-center w-full">
                    {% include 'components/_add_link.html.twig' with {
                        'action': path('app_category_create', {userId: app.user.id}),
                        'text': 'New category'|trans,} %}
                </article>
                <div class="flex flex-col gap-5 mb-12 w-full max-w-xl" {{ stimulus_controller('kebab-menu') }}>
                    {{ include('category/_all_items_category_preview.html.twig') }}
                {% for category in categories %}
                    {{ include('category/_category_preview.html.twig') }}
                {% endfor %}
                </div>
        </article>
{% endblock %}