<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block metas %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
         {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include('components/_navbar.html.twig') %}

        {% include('components/_base_flashes.html.twig') %}

        <div class="text-sm breadcrumbs ml-8">
            <ul>
               {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ul>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
