{% extends 'base.html.twig' %}

{% block title %}Expiry{% endblock %}

{% block body %}

    <div class="prose p-8">
        <h1 class="mb-0">{{ 'Welcome to Expiry!'|trans }}</h1>
        <p class="text-lg mt-0 mb-8">{{ 'Your helper for storing receipts'|trans }}</p>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('app_categories', {id: app.user.id}) }}" class="btn btn-primary">{{ 'See inventory'|trans }}</a>
        {% else %}
            <p class="text-lg">{{ 'You must be registered to use this application!'|trans }}</p>
            <a class="btn btn-primary">{{ 'Sign up'|trans }}</a>
        {% endif %}
    </div>

{% endblock %}