{% extends 'base.html.twig' %}

{% block title %}Expiry{% endblock %}

{% block body %}

    <article class="base-article">
        <hgroup class="flex flex-col gap-2 items-center">
            <h1 class="h1 text-center">{{ 'Welcome to Expiry!'|trans }}</h1>
            <h2 class="text-lg mt-0 mb-8">{{ 'Your helper for storing receipts'|trans }}</h2>
        </hgroup>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <section class="flex items-center gap-6 justify-center flex-wrap">
                <a href="{{ path('app_notifications', {id: app.user.id}) }}"
                   class="btn btn-info btn-outline indicator">
                    {{ 'Show notifications'|trans }}
                    <span class="indicator-item badge">{{ notificationsCount(app.user.id) }}</span>
                </a>
                <a href="{{ path('app_categories', {id: app.user.id}) }}" class="btn btn-primary btn-outline">{{ 'See inventory'|trans }}</a>
            </section>

            {% include('item/_item_search.html.twig') %}

        {% else %}
            <div class="flex gap-2">
                <a href="{{ path('app_login') }}" class="btn btn-outline lg:btn-md">{{ 'Login'|trans }}</a>
                <a href="{{ path('app_register') }}" class="btn btn-primary lg:btn-md">{{ 'Sign up'|trans }}</a>
            </div>

        {% endif %}
    </article>

{% endblock %}