{% extends 'base.html.twig' %}

{% block title %}Expiry &ndash; {{ 'Your helper for storing receipts'|trans }}{% endblock %}

{% block body %}

    <article class="base-article">
        <hgroup class="flex flex-col gap-2 items-center">
            <h1 class="h1 text-center">{{ 'Welcome to Expiry!'|trans }}</h1>
            <h2 class="text-lg mt-0 mb-4">{{ 'Your helper for storing receipts'|trans }}</h2>
        </hgroup>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <section class="flex items-center gap-6 justify-center flex-wrap">
                <a href="{{ path('app_notifications', {id: app.user.id}) }}"
                   class="btn btn-info btn-outline indicator">
                    {{ 'Show notifications'|trans }}
                    <span class="indicator-item badge">{{ notificationsCount(app.user.id) }}</span>
                </a>
                <a href="{{ path('app_categories', {id: app.user.id}) }}" class="btn btn-primary btn-outline">{{ 'See categories'|trans }}</a>
            </section>

            {% include('item/_item_search.html.twig') %}

            <div
                {{ stimulus_controller('hide-content',{
                    hiddenText: 'Show tutorial'|trans,
                    visibleText: 'Hide tutorial'|trans,
                    visible: showTutorial
                }) }}
            class="flex flex-col max-w-2xl w-full gap-3">
                <button class="btn btn-ghost gap-3"
                        {{ stimulus_action('hide-content', 'toggle', 'click') }}
                >
                    <span {{ stimulus_target('hide-content', 'text') }}>{{ 'Show tutorial'|trans }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
                    </svg>
                </button>
            {% include('components/_homepage_tutorial.html.twig') with {hidden: true}%}
            </div>

        {% else %}
            <div class="flex gap-2 mb-14">
                <a href="{{ path('app_login') }}" class="btn btn-outline lg:btn-md">{{ 'Login'|trans }}</a>
                <a href="{{ path('app_register') }}" class="btn btn-primary lg:btn-md">{{ 'Sign up'|trans }}</a>
            </div>
            {% include('components/_homepage_tutorial.html.twig') with {hidden: false}%}
        {% endif %}
    </article>

{% endblock %}