<div class="w-full flex flex-col gap-14 max-w-2xl {% if hidden %} hidden {% endif %}"
     {{ stimulus_target('hide-content', 'content') }}>
    <section class="w-full flex flex-col gap-3">
        <div class="flex gap-4 items-center">
            <div class="tutorial-step bg-primary">1</div>
            <h2 class="text-2xl font-semibold">{{ 'Create a category'|trans }}</h2>
        </div>
        <ol class="list-decimal list-inside">
            <li>{{ 'Press "Categories" link in the main navigation bar'|trans }}.</li>
            <li>{{ 'On the page displayed, press the "New Category" button'|trans }}.</li>
            <li>{{ 'Enter the name and color of the category, then press the "Create" button'|trans }}.</li>
        </ol>
        <div class="mockup-window bg-base-300 border overflow-hidden">
            <div class="flex justify-center bg-base-200">
                {% if app.user %}
                    <a href="{{ path('app_category_create', {userId: app.user.id}) }}">
                        <img src="{{ asset('img/category_index.jpg') }}" alt="Screenshot of category index page">
                    </a>
                    {% else %}
                        <img src="{{ asset('img/category_index.jpg') }}" alt="Screenshot of category index page">
                {% endif %}
            </div>
        </div>
    </section>

    <section class="w-full flex flex-col gap-3">
        <div class="flex gap-4 items-center">
            <div class="tutorial-step bg-secondary">2</div>
            <h2 class="text-2xl font-semibold">{{ 'Create an item'|trans }}</h2>
        </div>
        <ol class="list-decimal list-inside">
            <li>{{ 'Click on the newly created category, then press the "New Item" button'|trans}}.</li>
            <li>{{ 'Enter the mandatory information about the new item'|trans }}.</li>
        </ol>
        <div class="mockup-window bg-base-300 border overflow-hidden">
            <div class="flex justify-center bg-base-200">
                {% if app.user %}
                    <a href="{{ path('app_item_create', {userId: app.user.id}) }}">
                        <img src="{{ asset('img/item_create.jpg') }}" alt="Screenshot of new item form">
                    </a>
                {% else %}
                    <img src="{{ asset('img/item_create.jpg') }}" alt="Screenshot of new item form">
                {% endif %}
            </div>
        </div>
            {{'To enable notifications, toggle the expiration checkbox, set the expiration date and the number of days in advance you want to be notified'|trans }}.</p>
        <div class="mockup-window bg-base-300 border overflow-hidden">
            <div class="flex justify-center bg-base-200">
                <img src="{{ asset('img/item_expiration.jpg') }}" alt="Screenshot of expiration part of new item form">
            </div>
        </div>
        <p>{{ 'After filling in the form, click continue to attach files to the created item'|trans }}!</p>
    </section>

    <section class="w-full flex flex-col gap-3 mb-52">
        <div class="flex gap-4 items-center">
            <div class="tutorial-step bg-info">3</div>
            <h2 class="text-2xl font-semibold">{{ 'That\'s all it takes'|trans}}!</h2>
        </div>
            <p>{{ 'You will be notified both by email and in this app'|trans }}.
                {{ 'If you do not wish to receive email notifications, you can turn them off in your profile settings'|trans }}.</p>
    </section>
</div>