<header>
    <nav class="navbar bg-base-100 justify-between">
        <div class="justify-start lg:navbar-start">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost lg:hidden"
                            {{ stimulus_controller('dropdown') }}
                            {{ stimulus_action('dropdown', 'checkAndClose', 'mousedown') }}
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                    </label>

                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box bg-base-100 w-52">
                        <li><a href="{{ path('app_categories', {id: app.user.id}) }}" class="text-lg">{{ 'Categories'|trans }}</a></li>
                        <li><a href="{{ path('app_notifications', {id: app.user.id}) }}" class="text-lg">
                                <div class="flex gap-3 items-center">
                                    <span class="text-lg">{{ 'Notifications'|trans }}</span>
                                    {% if notificationsCount(app.user.id) > 0 %}
                                        <div class="badge badge-outline badge-primary">{{ notificationsCount(app.user.id) }}</div>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                        <li><a class="text-lg" href="{{ path('app_profile', {id: app.user.id}) }}">{{ 'Settings'|trans }}</a></li>
                        <li class="block divider my-2"></li>
                        <li><a class="text-lg text-error" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></li>
                    </ul>
                </div>
            {% endif %}
            <a href="{{ path('app_index') }}" class="btn btn-ghost normal-case text-xl hidden xs:inline-flex">Expiry!</a>
            <a href="{{ path('app_index') }}" class="btn btn-ghost normal-case text-xl xs:hidden px-0"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
            </a>
        </div>
        {# LARGE SCREENS #}
        <div class="hidden lg:flex">
            <ul tabindex="0" class="menu menu-horizontal px-1">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ path('app_categories', {id: app.user.id}) }}">{{ 'Categories'|trans }}</a></li>
                    <li><a href="{{ path('app_notifications', {id: app.user.id}) }}">
                            <div class="flex gap-2 items-center">
                                <span>{{ 'Notifications'|trans }}</span>
                                {% if notificationsCount(app.user.id) > 0 %}
                                    <div class="badge badge-outline badge-primary">{{ notificationsCount(app.user.id) }}</div>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                    <li tabindex="0">
                        <button>
                            {{ 'Settings'|trans }}
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                        </button>
                        <ul class="p-2 shadow bg-base-100 rounded-box w-48">
                            <li><a href="{{ path('app_profile', {id: app.user.id}) }}">{{ 'Profile'|trans }}</a></li>
                            <li><a href="{{ path('app_logout') }}" class="text-error">{{ 'Logout'|trans }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>

        {# ALL SCREENS #}
        <div class="justify-end lg:navbar-end gap-3 md:gap-6">
            <div class="dropdown dropdown-end">
                <button tabindex="0" class="btn btn-ghost rounded-btn font-normal px-0 flex-nowrap"
                        {{ stimulus_controller('dropdown') }}
                        {{ stimulus_action('dropdown', 'checkAndClose', 'mousedown') }}>
                    <span>{{ app.request.locale[0:2] }}</span>
                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </button>
                <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-max mt-4">
                    <li><a href="{{ path('app_set_locale', {'_locale': 'cs_CZ'}) }}">Čeština</a></li>
                    <li><a href="{{ path('app_set_locale', {'_locale': 'en_US'}) }}">English</a></li>
                </ul>
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if categoriesCount(app.user.id) > 0 %}
                    <a href="{{ path('app_item_create', {userId: app.user.id}) }}" class="btn btn-sm btn-accent lg:btn-md">
                        {{ 'New item'|trans }}</a>
                {% else %}
                    <a href="{{ path('app_category_create', {userId: app.user.id}) }}" class="btn btn-sm btn-accent lg:btn-md">
                        {{ 'New category'|trans }}</a>
                {% endif %}
            {% else %}
                <div class="flex flex-wrap">
                    <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline xs:btn-ghost lg:btn-md  ">{{ 'Login'|trans }}</a>
                    <a href="{{ path('app_register') }}" class="hidden xs:btn xs:btn-sm xs:btn-primary lg:btn-md">{{ 'Sign up'|trans }}</a>
                </div>
            {% endif %}
        </div>
    </nav>
</header>