<header>
<nav class="navbar bg-base-100">
    <div class="navbar-start">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
            </label>

            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box bg-base-100 w-52">
                <li><a href="{{ path('app_categories', {id: app.user.id}) }}" class="text-lg">{{ 'Inventory'|trans }}</a></li>
                <li><a href="{{ path('app_notifications', {id: app.user.id}) }}" class="text-lg">
                        {{ 'Notifications'|trans }}
                    </a>
                </li>
                    <li><a class="text-lg" href="{{ path('app_profile', {id: app.user.id}) }}">{{ 'Profile'|trans }}</a></li>
                    <li class="block divider my-2"></li>
                    <li><a class="text-lg text-gray-600" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></li>
            </ul>
        </div>
        {% endif %}
        <a href="{{ path('app_index') }}" class="btn btn-ghost normal-case text-xl">Expiry!</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul tabindex="0" class="menu menu-horizontal px-1">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('app_categories', {id: app.user.id}) }}">{{ 'Inventory'|trans }}</a></li>
            <li><a href="{{ path('app_notifications', {id: app.user.id}) }}">
                {{ 'Notifications'|trans }}
                </a>
            </li>
            <li tabindex="0">
                <a>
                    {{ 'Profile'|trans }}
                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2 shadow bg-base-100 rounded-box w-48">
                    <li><a href="{{ path('app_profile', {id: app.user.id}) }}">{{ 'Detail'|trans }}</a></li>
                    <li><a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></li>
                </ul>
            </li>
        {% endif %}
        </ul>

    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost rounded-btn font-normal mr-1 lg:mr-3 px-1 flex-nowrap">
                <span>{{ app.request.locale[0:2] }}</span>
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
            </label>
            <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
                <li><a href="{{ path('app_set_locale', {'_locale': 'cs_CZ'}) }}">Čeština</a></li>
                <li><a href="{{ path('app_set_locale', {'_locale': 'en_US'}) }}">English</a></li>
            </ul>
        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('app_item_create', {userId: app.user.id}) }}" class="btn btn-sm btn-accent lg:btn-md">
            {{ 'Add item'|trans }}</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-sm btn-ghost lg:btn-md">{{ 'Login'|trans }}</a>
                <a href="{{ path('app_register') }}" class="btn btn-sm btn-primary lg:btn-md">{{ 'Sign up'|trans }}</a>
        {% endif %}
    </div>
</nav>
</header>