{% extends 'base.html.twig' %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block title %}{{ 'Sign in'|trans }} | Expiry{% endblock %}

{% block body %}
    <article class="base-article">
        <div class="flex flex-col items-center gap-2">
        <h1 class="h1">{{ 'Sign in'|trans }}</h1>
        {% if error %}
            <div class="text-error text-xl">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        </div>
        <form action="{{ path('app_login') }}" method="post" class="form-control w-full max-w-md gap-8">
            <div>
                <label for="username">Email</label>
                <input type="email" id="username" name="_username" value="{{ last_username }}" class="input input-bordered w-full">
            </div>
            <div>
                <label for="password">{{ 'Password'|trans }}</label>
                <input type="password" id="password" name="_password" class="input input-bordered w-full">
            </div>

                <label class="cursor-pointer flex items-center gap-4">
                    <input type="checkbox" class="toggle toggle-primary" name="_remember_me"/>
                    {{ 'Remember me'|trans }}
                </label>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary max-w-md">{{ 'Login'|trans }}</button>
        </form>
        <a href="{{ path('app_forgot_password_request') }}" class="text-info hover:link">{{ 'Forgotten password?'|trans }}</a>
        <a href="{{ path('app_register') }}">{{ 'If you don\'t have an account, you can'|trans }} <span class="text-info hover:link">{{ 'sign up'|trans }}!</span></a>
    </article>

{% endblock %}