<article class="flex flex-col w-full gap-3"
        {{ stimulus_controller('hide-content',{
            hiddenText: 'Show filters'|trans,
            visibleText: 'Hide filters'|trans,
            visible: visibleFilters,
            resetUrl: resetUrl,
            dataFrame: 'items-preview'
        }) }}>

    <h3 class="flex gap-2 text-info"
        {{ stimulus_action('hide-content', 'toggle', 'click') }}
    >
        <span {{ stimulus_target('hide-content', 'text') }}>Show filters</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
        </svg>
    </h3>

    {{ form_start(form, {attr: {class: 'w-full flex flex-col gap-3 max-w-xl hidden', 'data-hide-content-target': 'content'}}) }}

    <div class="input-group input-group-sm w-full">
        <span class="basis-1/3 grow shrink-0">{{ form_label(form.name) }}</span>
        {{ form_widget(form.name, {attr: {class: 'input input-bordered input-sm w-full'}}) }}
    </div>

    <div class="input-group input-group-sm w-full">
        <span class="basis-1/3 grow shrink-0">{{ form_label(form.vendor) }}</span>
        {{ form_widget(form.vendor, {attr: {class: 'input input-bordered input-sm w-full'}}) }}
    </div>

    <div class="input-group input-group-sm w-full flex-nowrap">
        <span class="basis-1/3 grow shrink-0 whitespace-nowrap">{{ form_label(form.expiresIn,'Expires in') }}</span>
        {{ form_widget(form.expiresIn, {attr: {class: 'input input-bordered input-sm shrink w-full'}}) }}
        <span class="w-36 grow">{{ 'DAYS'|trans }}</span>
    </div>

    {% if form.expiresIn.vars.errors|length %}
        {{ form_errors(form.expiresIn) }}
    {% endif %}


    <div class="input-group input-group-sm w-full">
        <span class="basis-1/3 grow shrink-0">{{ form_label(form.sort, 'Sort by') }}</span>
        {{ form_widget(form.sort, {attr: {class: 'select select-bordered select-sm w-full basis-2/3 font-normal'}}) }}
    </div>

    <div class="flex justify-between items-center">
        <div class="flex gap-2 items-center">
        {{ form_widget(form.includeExpired, {attr: {class: 'toggle toggle-secondary'}}) }}
        {{ form_label(form.includeExpired, 'Include expired?'|trans, {label_attr: {class: 'text-sm'}}) }}
        </div>
        <button type="reset"
                class="btn btn-sm btn-ghost"
                data-turbo-action="replace"
                {{ stimulus_action('hide-content', 'resetForm', 'click') }}
        >{{ 'Reset filters'|trans }}
        </button>
    </div>
    <button type="submit" class="btn btn-sm btn-primary btn-outline" data-turbo-frame="items-preview" data-turbo-action="replace">
        {{ 'Filter'|trans }}</button>
    {{ form_end(form) }}
</article>
