<section class="w-full flex flex-col mt-8 max-w-xl mb-14">
    <h2 class="text-xl mb-2 ">{{ 'Quick search'|trans }}</h2>
    <div
            class="w-full flex flex-col items-center "
            {{ stimulus_controller('search-preview', {url: path('_app_item_search', {id: app.user.id})}) }} >
        <div class="relative w-full max-w-xl">
            <input type="search" placeholder="{{ 'Search your items'|trans }}..."
                   class="input input-bordered w-full"
                   {{ stimulus_action('search-preview', 'onSearchInput', 'input') }}
                   {{ stimulus_target('search-preview', 'input') }}
            />
            <div
                    class="absolute z-20 w-full top-14"
                    {{ stimulus_target('search-preview', 'result') }}
            </div>
        </div>
    </div>
</section>