<article class="card card-side bg-base-100 shadow-xl border border-slate-100 h-28">
    <figure class="hidden"><img src="{{ asset('img/no-image.png') }}" alt="Photo of {{ item.name }}" class="h-full w-24"/></figure>
    <div class="px-2 py-0.5 flex justify-between w-full">
        <div>
            <h2 class="sm:text-lg font-semibold">{{ item.name }}</h2>

            {% if item.warranty is not null %}
                <p><span class="hidden sm:inline-block">{{ 'Expires'|trans }}:</span> {{ item.warranty.expiration|date("d.m.Y") }}</p>
            {% endif %}

            {% if item.amount is not null  %}
                <p>{{ 'Count'|trans }}: {{ item.amount }}</p>
            {% endif %}
        </div>
        <a href="{{ path('app_item_edit', {userId: app.user.id, catId: category.id, itemId: item.id}) }}"
           class="self-end pb-2 pr-4 text-lg link link-info link-hover" >
            {{ 'Detail'|trans }}</a>
    </div>
</article>