<div class="flex flex-col gap-2.5 pt-2">
    {% for item in items %}
        <a href="{{ path('app_item_edit', {userId: app.user.id, catId: item.category.id, itemId: item.id}) }}">
        <article class="card card-side bg-base-100 shadow-xl border border-slate-100 h-28 w-full hover:bg-gray-100">
            <figure class="hidden"><img src="{{ path('app_item_thumbnail', {userId: app.user.id, catId: item.category.id, itemId: item.id, fileId: item.imageFileId}) }}" alt="Photo of {{ item.name }}" class="h-full w-24"/></figure>
            <div class="px-2 py-0.5 flex justify-between w-full">
                <div>
                    <h2 class="sm:text-lg font-semibold">{{ item.name }}</h2>
                    <p>{{ item.category.name }}</p>
                    {% if item.warranty is not null %}
                        <p>{{ 'Expires'|trans }}: {{ item.warranty.expiration|date("d.m.Y") }}</p>
                    {% endif %}
                    {% if item.amount is not null  %}
                        <p>{{ 'Count'|trans }}: {{ item.amount }}</p>
                    {% endif %}
                </div>
            </div>
        </article>
        </a>
    {% else %}
        <div class="w-full flex justify-center pt-2">
            <p class="text-lg">No results found!</p>
        </div>

    {% endfor %}
</div>