{% extends 'base.html.twig' %}

{% block title %}
    {% if create %}New item {% else %} Edit {{ item.name }} {% endif %}
{% endblock %}

{% block body %}
    <article class="flex flex-col mt-6 mx-8 gap-6 items-center">
        <h1 class="h1">
            {% if create %}New item {% else %} Edit {{ item.name }} {% endif %}
        </h1>
        {{ form_start(form, {'attr': {'class': 'form-control w-full max-w-md gap-6'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.category) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.purchase) }}

        <article {{ stimulus_controller('form-hide') }}>
            <label class="label cursor-pointer p-0 mb-4" >
                <span class="font-semibold text-lg">Expiration/Warranty</span>
                <input
                        type="checkbox"
                        class="toggle toggle-primary"
                        data-action="click->form-hide#toggle"
                        checked />
            </label>
            <div class="flex flex-col gap-6" data-form-hide-target="mainContent">
            {{ form_row(form.expiration) }}

                <label class="flex items-center gap-2 cursor-pointer">
                    <span class="font-semibold">Notification?</span>
                    <input
                            type="checkbox"
                            class="toggle toggle-secondary"/>
                </label>
            </div>
        </article>



        <button type="submit" class="btn max-w-md">
            {% if create %} Create {% else %} Edit {% endif %}
        </button>

        {{ form_end(form) }}
    </article>
{% endblock %}
