{% extends 'base.html.twig' %}

{% block title %}{{ 'New item'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">{{ 'Home'|trans }}</a></li>
    <li><a href="{{ path('app_categories', {id: app.user.id}) }}">{{ 'Inventory'|trans }}</a></li>
    <li><a href="#">{{ 'New item'|trans }}</a></li>
{% endblock %}


{% block body %}
    <article class="flex flex-col mt-6 mb-24 mx-8 gap-6 items-center">
        <h1 class="h1">{{ 'New item'|trans }}</h1>
        {% include 'item/_create_edit_form.html.twig' with {buttonText: 'continue'} %}
    </article>
{% endblock %}
