{% extends 'base.html.twig' %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block title %}{{ 'New item'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">{{ 'Home'|trans }}</a></li>
    <li><a href="#">{{ 'New item'|trans }}</a></li>
{% endblock %}


{% block body %}
    <article class="base-article mb-24">
        <h1 class="h1">{{ 'New item'|trans }}</h1>
        {% include 'item/_create_edit_form.html.twig' with {buttonText: 'continue'|trans} %}
    </article>
{% endblock %}
