{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">Home</a></li>
    <li><a href="{{ path('app_categories', {id: app.user.id}) }}">Inventory</a></li>
    <li><a href="{{ path('app_items_category', {userId: app.user.id, catId: category.id}) }}">{{ category.name }}</a></li>
    <li><a href="{{ path('app_item_edit', {userId: app.user.id, catId: category.id, itemId: item.id}) }}">{{ item.name }}</a></li>
{% endblock %}

{% block body %}
    <article class="flex flex-col mt-6 mb-24 mx-8 gap-6 items-center">
        <h1 class="h1">{{ item.name }}</h1>
        <a href="{{ path('app_item_file_edit', {userId: item.category.owner.id, catId: item.category.id, itemId: item.id})}}"
        class="btn btn-outline btn-info w-full max-w-md">Manage files</a>
        {% include 'item/_create_edit_from.html.twig' with {buttonText: 'save'} %}
        <div class="flex mt-6 w-full justify-center">
        {% include 'components/_delete_link.html.twig' with {
            'action': path('app_item_delete', {userId: item.category.owner.id, catId: item.category.id, itemId: item.id}),
            'text': 'Delete item',} %}
        </div>
    </article>
{% endblock %}