{% extends 'base.html.twig' %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block title %}{{ item.name }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('app_index') }}">{{ 'Home'|trans }}</a></li>
    <li><a href="{{ path('app_categories', {id: app.user.id}) }}">{{ 'Inventory'|trans }}</a></li>
    <li><a href="{{ path('app_items_category', {userId: app.user.id, catId: category.id}) }}">{{ category.name }}</a></li>
    <li><a href="{{ path('app_item_edit', {userId: app.user.id, catId: category.id, itemId: item.id}) }}">{{ item.name }}</a></li>
{% endblock %}

{% block body %}
    <article class="base-article mb-24">
        <h1 class="h1">{{ item.name }}</h1>
        <a href="{{ path('app_item_file_edit', {userId: item.category.owner.id, catId: item.category.id, itemId: item.id})}}"
        class="btn btn-info w-full max-w-md">{{ 'Manage files'|trans }}</a>
        {% include 'item/_create_edit_form.html.twig' with {buttonText: 'save'|trans} %}
        <div class="flex mt-6 w-full justify-center">
        {% include 'components/_delete_link.html.twig' with {
            'action': path('app_item_delete', {userId: item.category.owner.id, catId: item.category.id, itemId: item.id}),
            'text': 'Delete'|trans ~ ' ' ~ item.name,
             cancelButtonText: 'Cancel'|trans,
            'confirm': true
        } %}
        </div>
    </article>
{% endblock %}